<!-- Side Nav -->
<div class="position-absolute w-25 h-100 border-right leftDiv p-1 overflow-auto">
    <ul class="list-group" id='account_List'><%- locals.accounts %></ul>
    <% if(locals.title=="Numbers"){%>
        <button id='addNumber' class="btn btn-primary position-fixed addAppBtn"><i class="bi bi-plus-lg"></i></button>
    <%}  else if(locals.title!="Schedule"&&locals.title!="Numbers"){%>
        <button id='addApp' class="btn btn-primary position-fixed addAppBtn"><i class="bi bi-plus-lg"></i></button>
    <%}%>
</div>