<div id='topMenuDiv' class="position-absolute w-100 m-0 h-20">
    <div class="row p-0 m-0 w-100 h-100" >
        <div class="col-4 p-1"><img src="static/img/fav.png" alt="logo"></div>
        <div class="col-4 text-center p-1"></div>
        <div class="col-4 p-0 m-0" style='text-align: right;'>
            <div id='colorPlate' class='d-inline-block h-100 m-0 p-1 px-4 righMenuBtn' role='button'><i class="bi bi bi-palette"></i></div>
            <div id='min_max' class='d-inline-block h-100 m-0 p-1 px-4 righMenuBtn' role='button'><i class="bi bi-gear"></i></div>
            <div id='close' class='d-inline-block h-100 m-0 p-1 px-4 righMenuBtn' role='button'><i class="bi bi-box-arrow-in-right"></i></div>
        </div>
    </div>
</div>