
<%- include("./partials/homeheaders.ejs"); %>
<div class="container-fluid fixed-top h-100 p-0">
    <!-- Top header -->
    <%- include("./partials/top_nav.ejs"); %>
    
    <!-- Main Body -->
    <div id='mainBodyDiv' class="position-absolute border-primary w-100 top-17 h-83">
        <!-- Right Main Body -->
        <div class="position-absolute w-75 h-100 rightDiv">
            <div class="position-absolute border-bottom w-100 catDiv p-2">
                <i class="bi bi-folder2"></i>&nbsp; 
                <span id='current_app' class='current'>:</span>&nbsp;\&nbsp;<span id='current_view' class='current'></span>
                <span class="float-end" role='button' id='tags_buttons'>
                    <i id="returnForm" class="bi bi-journal-x"></i>
                    &nbsp;&nbsp;
                    <i id="getTable" class="bi bi-table"></i>
                </span>
            </div>

            <div class="position-absolute w-100 portifolio">
                <div class="row col-4 mx-auto m-0 p-1">
                    <!-- add numbers content here -->
                </div>
            </div>
        </div>
        <!-- Side Nav -->
        <%- include("./partials/side_nav.ejs"); %>
    </div>
</div>
<%- include("./partials/homefooter.ejs"); %>